<% layout('layouts/boilerplate') %>
<h1 class="my-3 pb-2 border-bottom border-1">Rules</h1>
<% for (const section of sections) { %>
<section class="border border-3 rounded-3 my-3 px-3 pt-3">
    <h4 class="pb-2 border-bottom border-1"><%= section.title %></h4>
    <% for (const description of section.description) { %>
    <p class="lh-lg"><%= description %></p>
    <% }; %>
    <!-- needs a function creating to loop through nested sections -->
    <% if (section.sections.length > 0) { %>
    <ol>        
        <% for (const subSection of section.sections) { %>
        <li>
            <% for (const description of subSection.description) { %>
            <p class="lh-lg"><%= description %></p>
            <% }; %>
        </li>
        <% }; %>
    </ol>
    <% }; %>
</section>
<% }; %>
<!-- <a href="/rules/edit">Edit</a> -->