<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Login</h1>
</div>
<form class="row gy-3 needs-validation" method="POST" action="/login" novalidate>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto px-3">
                <div class="row gy-3 py-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col form-floating">
                                <input id="username" class="form-control" type="text" name="username" placeholder="Email or username" required>
                                <label for="username" class="ms-2">Email or username</label>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end">
                                        Please enter an email address or a username.
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col input-group">
                                <div class="col form-floating">
                                    <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>
                                    <label for="password">Password</label>
                                </div>
                                <button id="show-password" class="btn btn-outline-secondary" type="button">Show</button>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end">
                                        Please enter your password.
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mx-0">
                            <div class="d-flex">
                                <div class="form-check mx-auto">
                                    <input id="remember" class="form-check-input" type="checkbox" name="login[remember]">
                                    <label for="remember" class="form-check-label">Remember Me</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/">Home</a>
            <input id="primary-button" class="btn btn-primary col-5 container" type="submit" value="Sign In">
        </div>
    </div>
</form>
<div class="col d-flex mb-3">
    <a class="mx-auto" href="/register">Not Yet Registered?</a>
</div>
<script src="/scripts/show-password.js"></script>
<script src="/scripts/validate-forms.js"></script>