<!-- hide links when redirected to change password page after logging in -->
<% layout('layouts/boilerplate') %>    
<div class="row my-3 pb-2 border-bottom border-1">
    <h1>Change Password</h1>
</div>
<form class="row gy-3 needs-validation check-password" method="POST" action="/account/change-password" novalidate>
    <div class="col-12">
        <div class="row d-flex">
            <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto px-3">
                <div class="row gy-3 py-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col input-group">
                                <div class="col form-floating">
                                    <input id="password" class="form-control" type="password" name="password" placeholder="Existing password" autocomplete="current-password" required>
                                    <label for="password">Existing password</label>
                                </div>
                                <button id="show-password" class="btn btn-outline-secondary" type="button">Show</button>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end">
                                        Please enter your password.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col form-floating">
                                <input id="new-password" class="form-control" type="password" name="new-password" placeholder="New password" autocomplete="current-password" required>
                                <label for="new-password" class="ms-2">New password</label>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end">
                                        Please enter a password.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col form-floating">
                                <input id="password-check" class="form-control" type="password" name="password-check" placeholder="Confirm password" required>
                                <label for="password-check" class="ms-2">Confirm password</label>
                                <div class="invalid-feedback">
                                    <div class="d-flex justify-content-end password-check-invalid-feedback">
                                        Please confirm your password.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="row px-2">
            <a class="btn btn-warning col-5 container" href="/account">Back</a>
            <input id="primary-button" class="btn btn-primary col-5 container" type="submit" value="Change Password">
        </div>
    </div>
</form>
<script src="/scripts/show-password.js"></script>
<script src="/scripts/validate-forms.js"></script>