<footer class="footer bg-light py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Codenames and Golf Society 2014-<%= new Date().getFullYear() %></span>
    </div>
</footer>