<a class="nav-link py-0 d-none d-lg-inline d-xl-inline d-xxl-inline" href="/<%= link %>">
    <i class="btn btn-outline-success rounded-circle bi <%= classes %> fs-5"></i>
</a>
<a class="nav-link d-inline d-lg-none d-xl-none d-xxl-none" href="/<%= link %>"><%= text %></a>