<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CGS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/charter">Charter</a>
                <a class="nav-link" href="/demerits">Demerits</a>
                <!-- <a class="nav-link" href="/games">Games</a> -->
            </div>
            <!-- <div class="navbar-nav ms-auto">
                <%/* if (currentUser)  { */%>
                <a class="nav-link" href="/logout">Logout</a>
                <%/* } else { */%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <%/* } */%>
            </div> -->
        </div>
    </div>
</nav>