<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand mx-3" href="/">CGS</a>
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
            <div class="navbar-nav ms-3 me-auto">
                <a class="nav-link" href="/charter">Charter</a>
                <a class="nav-link" href="/demerits">Demerits</a>
                <!-- <a class="nav-link" href="/users">Users</a> -->
                <!-- <a class="nav-link" href="/games">Games</a> -->
            </div>
            <!-- style hr -->
            <!-- <hr class="d-block d-lg-none d-xl-none d-xxl-none">
            <div class="navbar-nav mx-3">
                <% if (currentUser)  { %>
                <%- include('icon', { classes: 'bi-person-fill btn-outline-success', link: 'account', text: 'Account' }) %>
                <%- include('icon', { classes: 'bi-person-dash-fill btn-outline-danger', link: 'logout', text: 'Logout' }) %>
                <% } else { %>
                <%- include('icon', { classes: 'bi-person-fill', link: 'login', text: 'Login' }) %>
                <% }; %>
            </div> -->
        </div>
    </div>
</nav>