<div class="col-12">
    <div class="row d-flex">
        <div class="col-11 col-md-8 col-lg-6 border border-3 rounded-3 mx-auto p-2">
            <div class="row mx-0">
                <div class="btn btn-success" data-type="button" data-operation="add" data-section="section" data-page="<%= page %>">Add <%= page %></div>
            </div>
        </div>
    </div>
</div>