<div class="mb-3">
    <div class="row px-2">
        <a class="btn btn-warning col-5 container" href="/demerits">Cancel</a>
        <input class="btn btn-primary col-5 container" type="submit" value="Submit">
    </div>
</div>