<div class="row mx-0 mb-2">
    <label for="<%= id %>" class="col-4 col-form-label">Comments</label>
    <textarea id="<%= id %>" class="col form-control" name="<%= name %>" rows="1" placeholder="Optional"><%= value %></textarea>
</div>