<div class="col-12">
    <div class="row mx-0">
        <%- include('../components/label', { id, label: 'Comments' }) %>
        <textarea id="<%= id %>" class="col form-control me-2" name="<%= name %>" rows="1" placeholder="Optional"><%= value %></textarea>
    </div>
</div>