<div class="row my-3 mx-0">
    <%- include('./components/label', { id, label: 'Date' }) %>
    <%- include('./components/input', { id, type: 'date', name, value, options: 'required' }) %>
    <%- include('../invalid-feedback', { value: 'date' }) %>
</div>