<div class="col-12">
    <div class="row mx-0">
        <%- include('../components/label', { id, label: 'Demerits' }) %>
        <%- include('../components/input', { id, type: 'number', name, value, options: ''}) %>
    </div>
</div>