<div class="row mx-0 mb-3">
    <%- include('label', { id, label: 'Demerits' }) %>
    <input id="<%= id %>" class="col form-control me-2" type="number" value="<%= value %>" name="<%= name %>">
</div>