<div class="row mx-0 mb-2">
    <label for="<%= id %>" class="col-4 col-form-label">Demerits</label>
    <input id="<%= id %>" class="col form-control me-2" type="number" value="<%= value %>" name="<%= name %>">
</div>