<div class="col-12">
    <div class="row mx-0">
        <%- include('../components/label', { id, label: 'Drinks' }) %>
        <%- include('../components/input', { id, type: 'number', name, value, options: 'min=0' }) %>
    </div>
</div>