<div class="row mx-0 mb-2">
    <label for="<%= id %>" class="col-4 col-form-label">Hole</label>
    <input id="<%= id %>" class="col form-control" type="number" min="0" max="18" value="<%= value %>" name="<%= name %>">
</div>