<div class="row mx-0 mb-2 px-4<%= !description ? " d-none" : "" %>"<%= !description ? " visibility=hidden" : "" %>>
    <p id="<%= id %>" class="mb-0 text-overflow" readonly="true" rows="1"><%= description %></p>
</div>