<ol>        
    <% for (const breakdown of breakdowns) { %>
    <li>
        <% for (const description of breakdown.description) { %>
        <p class="lh-lg"><%= description %></p>
        <% }; %>
        <% if (breakdown.sections) { %>
        <%- include('breakdown.ejs', { breakdowns: breakdown.sections }) %>
        <% }; %>
    </li>
    <% }; %>
</ol>