<% layout('layouts/boilerplate') %>
<div class="row my-2">
    <div class="col-12 col-lg-10 col-xl-8 border border-3 rounded-3 p-4 mx-auto">
        <h4 class="alert-heading"><%= error.message %>></h4>
        <% if (process.env.NODE_ENV !== 'production') { %>
        <div><%= error.stack %></div>
        <% } %>
    </div>
</div>