<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Charter</h1>
    <!-- <div class="col-2 justify-content-end">
        <div class="d-flex align-items">
            <a class="btn btn-primary mx-auto" href="/rules/edit">Edit</a>
        </div>
    </div> -->
</div>
<% if (sections) { %>
<% for (const section of sections) { %>
<section class="border border-3 rounded-3 my-3 px-3 pt-3">
    <%- include('../partials/forms/charter/show/section.ejs', { section }) %>
</section>
<% }; %>
<% }; %>