<tr id="<%= `${property.toLowerCase()}-row` %>">
    <th scope="row"><%= title %></th>
    <% for (const player of players) { %>
    <td class="text-center" data-player>
        <%= player[property] %>
    </td>
    <% }; %>
</tr>