@import 'tables.css';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

textarea.form-control {
    min-height: 100%;
}

ol {
    list-style: 1 inside;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol ol ol {
    list-style-type: disc;
}

textarea {
    overflow-y: hidden;
    resize: none;
}

#home-logo-background {
    background-color: rgb(253, 253, 253);
}

#home-logo {
    height: 88vh;
    width: 100%;
    object-fit: contain;
}

.plus {
    transform: rotate(45deg);
    border-radius: 50%;
}

/* i.bi {
    font-size: 1.35em;
} */

a {
    text-decoration: none;
}

/* select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

.capitalise {
    text-transform: capitalize;
}

select option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100%; */
}

.form-control:disabled {
    opacity: 0.7;
}

.small-width {
    max-width: 38px;
    min-width: 38px;
}

[draggable] {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}

::marker {
    font-weight: bold;
}

/* .register {
    opacity: 1;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.register.hidden {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
} */