@import 'tables.css';

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

main.container {
    min-height: calc(100vh - 56px - 60px - 16px);
    /* footer - header - white space below header (approx.) */
}

textarea.form-control {
    min-height: 100%;
}

ol {
    list-style: 1 inside;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol ol ol {
    list-style-type: disc;
}

textarea {
    overflow-y: hidden;
    resize: none;
}

#home-logo-background {
    background-color: rgb(253, 253, 253);
    min-height: calc(100vh - 60px - 56px);
}

#home-logo {
    height: calc(100vh - 60px - 56px);
    width: 100%;
    object-fit: contain;
}

.plus {
    transform: rotate(45deg);
    border-radius: 50%;
}

/* i.bi {
    font-size: 1.35em;
} */

a {
    text-decoration: none;
}

/* select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

.input-group .form-floating input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

table select {
    text-align-last: center; 
}

select option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 100%; */
}

.form-control:disabled {
    opacity: 0.7;
}

.small-width {
    max-width: 38px;
    min-width: 38px;
}

[draggable] {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}

::marker {
    font-weight: bold;
}

/* .register {
    opacity: 1;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.register.hidden {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
} */

.accordion .form-floating > .form-control,
.accordion .form-floating > .form-select {
    height: calc(3.7rem + 2px);
}


li.page-item {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* #course > div > div > div.col-12 > div > div.col.btn-group > label.btn.btn-outline-light.text-capitalize {
    color: black;
    border-color: black;
} */

.f-over {
    color: var(--bs-danger);
}

.f-under {
    color: var(--bs-success);
}

.f-level {
    color: var(--bs-gray);
}

/* .valid {
    color: ;
    background-color: ;
}

.invalid {
    color: ;
    background-color: ;
} */

li.page-item.left-hole .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

li.page-item.right-hole .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.individual-hole {
    min-width: 30px;
}

.nine-holes {
    min-width: 56px;
}

.six-holes {
    min-width: 60px;
}

.forced-accordion-bottom {
    border-bottom-width: 1px;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}