/* Bootstrap Extra Small (xs) */
@media (max-width: 576px) {
    .course-tees td {
        width: calc(100% / 4);
    }
}

/* Bootstrap Extra Small (xs) and Small (sm) */
@media (max-width: 767px) {
    #tees td {
        width: calc(100% / 4);
    }

    /* temporary solution */
    .hole-score {
        --size: 40%;
    }

}

/* Bootstrap Medium (md) */
@media (min-width: 768px) {
    #tees td {
        width: calc(100% / 9);
    }

    /* temporary solution */
    .hole-score {
        --size: 35%;
    }

}

@media (min-width: 992px) {
    /* temporary solution */
    .hole-score {
        --size: 50px;
    }
}


/* Bootstrap Large (lg) */
@media (min-width: 992px) {
    .course-tees td {
        width: calc(100% / 11);
    };
};

#round td {
    width: calc(100% / 8);
}

#round > tbody > tr > td:first-child,
table#round input,
.hole td input {
    padding-left: 0;
    padding-right: 0;
}

/* update so width grows/shrinks with number of users */
#demerit tr > *:not(:first-child) {
    width: 15%;
    /* width: calc(100% / var(--users)) */
}

#user tr > * {
    width: auto;
}

/* need optimising to fit in the table cell */
table img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.hole td {
    /* resize column accordingly to best fit data */
    width: 25%;
    /* height: calc(40px + 2px / 3); */
}

.player-table td {
    width: 33%;
}

.hole tr input,
table#round div:not(.table-input) input {
    opacity: 80%;
}

table.summary td *,
table.summary td {
    min-width: 60px;
}

table#courses > tbody > tr:hover {
    cursor: pointer;
}

input:not(:focus) + .birdie::before,
input:not(:focus) + .eagle::before,
input:not(:focus) + .bogey::before,
input:not(:focus) + .double-bogey::before {
    --size: 90%;
    --offset: calc((100% - var(--size)) / 2);
}

input:not(:focus) + .birdie::before,
input:not(:focus) + .eagle::before,
input:not(:focus) + .eagle::after {
    border-radius: 50%;
}

input:not(:focus) + .birdie::before,
input:not(:focus) + .eagle::before,
input:not(:focus) + .eagle::after,
input:not(:focus) + .bogey::before,
input:not(:focus) + .double-bogey::before,
input:not(:focus) + .double-bogey::after {
    content: '';
    border: 1px solid black;
    height: var(--size);
    left: var(--offset);
    position: absolute;
    top: var(--offset);
    width: var(--size);
}

input:not(:focus) + .eagle::after,
input:not(:focus) + .double-bogey::after {
    --size: 75%;
    --offset: calc((100% - var(--size)) / 2);
}

.table-input {
    margin: 0;
    width: 100%;
    position: relative;
}

.table-input input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background-clip: padding-box;
    border: none;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: inherit;
    z-index: 1;
}

.table-input input:focus {
    background-color: #fff;
    border-color: #86b7fe;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    color: #212529;
    outline: 0;
}

table#round tr > * {
    max-width: 90px;
    min-width: 90px;
}

.hole-score {
    padding-bottom: var(--size);
    position: absolute;
    width: var(--size);
    z-index: -1;
}