@media (max-width: 576px) {
    table,
    table *.btn {
        font-size: 10px;
    }
}

/* update so widith grows/shrinks with number of users */
#demerit tr > *:not(:first-child) {
    width: 15%;
}

#user tr > * {
    width: auto;
}

/* need optimising to fit in the table cell */
table img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

#tees td {
    width: calc(100% / 9);
    /* height: calc(40px + 2px / 3); */
}

.hole td {
    width: 33%;
    /* height: calc(40px + 2px / 3); */
}

.player-table td {
    width: 33%;
}

#tees tr.table-light input,
.hole tr.table-light input {
    /* background: rgba(255, 255, 255); */
    background-color: var(--bs-table-bg);
}

#tees tr.table-warning input,
.hole tr.table-warning input {
    background-color: var(--bs-table-bg);
}

#tees tr.table-danger input,
.hole tr.table-danger input {
    background-color: var(--bs-table-bg);
}