/* Bootstrap Extra Small (xs) */
@media (max-width: 576px) {
    .course-tees td {
        width: calc(100% / 4);
    };
}

/* Bootstrap Extra Small (xs) and Small (sm) */
@media (max-width: 767px) {
    #tees td {
        width: calc(100% / 4);
    }
}

/* Bootstrap Medium (md) */
@media (min-width: 768px) {
    #tees td {
        width: calc(100% / 9);
    }
}

/* Bootstrap Large (lg) */
@media (min-width: 992px) {
    .course-tees td {
        width: calc(100% / 11);
    };
};

#round td {
    width: calc(100% / 8);
}

#round > tbody > tr > td:first-child {
    padding-left: 0;
    padding-right: 0;
}

table#round input.form-control {
    padding-left: 0;
    padding-right: 0;
}

/* update so width grows/shrinks with number of users */
#demerit tr > *:not(:first-child) {
    width: 15%;
    /* width: calc(100% / var(--users)) */
}

#user tr > * {
    width: auto;
}

/* need optimising to fit in the table cell */
table img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.hole td {
    /* resize column accordingly to best fit data */
    width: 25%;
    /* height: calc(40px + 2px / 3); */
}

.hole td input {
    padding-left: 0;
    padding-right: 0;
}

.player-table td {
    width: 33%;
}

.hole tr input {
    opacity: 80%;
}

table.summary td *,
table.summary td {
    min-width: 60px;
}

table#courses > tbody > tr:hover {
    cursor: pointer;
}

.birdie::before,
.eagle::before,
.bogey::before,
.double-bogey::before {
    --size: 2.5%;
    padding-bottom: var(--size);
    position: absolute;
    width: var(--size);
}

.birdie::before,
.eagle::before,
.eagle::after {
    border-radius: 50%;
}

.birdie::before,
.eagle::before,
.eagle::after,
.bogey::before,
.double-bogey::before,
.double-bogey::after {
    content: '';
    border: 1px solid black;
    z-index: -1;
}

.eagle::after,
.double-bogey::after {
    --size: 3%;
    padding-bottom: var(--size);
    position: absolute;
    width: var(--size);
}

.table-input {
    margin: auto;
    width: 60px;
    padding: 0.375rem 0;
}

.table-input input {
    -webkit-appearance: none;
    background: transparent;
    border: none;
}

.table-input input:focus {
    outline: none;
}

table#course tr > *:not(:first-child),
table#round tr > *:nth-child(-n + 4):nth-child(n + 2) {
    width: 90px;
}

table#course tr > *:first-child,
table#round tr > *:first-child {
    width: 60px;
}

table#round tr > *:not(:nth-child(-n + 4)) {
    width: auto;
}