<% layout('layouts/boilerplate') %>
<div class="row my-3 pb-2 border-bottom border-1">
    <h1 class="col">Users</h1>
    <div class="col">
        <div class="d-flex align-items">
            <a class="btn btn-primary me-0 mx-auto" href="/users/new">New User</a>
        </div>
    </div>    
</div>
<section>
    <table id="user" class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    <div class="d-flex">
                        <div class="mx-auto">
                            Name
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex">
                        <div class="mx-auto">
                            Email
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div class="d-flex">
                        <div class="mx-auto">
                            Role
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (const user of users) { %>
            <tr>
                <td>
                    <div class="d-flex">
                        <div class="mx-auto">
                            <a href="/users/edit/<%= user._id %>">
                                <%= user.name.friendly %>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex">
                        <div class="mx-auto">
                            <%= user.email %>
                        </div>
                    </div>
                </td>
                <td class="capitalise">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <%= user.role %>
                        </div>
                    </div>
                </td>
            </tr>
            <% }; %>
        </tbody>
    </table>
</section>