<div class="col-12 register hidden d-none">
    <div class="row mx-0">
        <%- include('../components/label', { id, label: 'Image' }) %>
        <%- include('../components/input', { id, type: 'file', name, value, options: '' }) %>
    </div>
</div>