<div class="col-12">
    <div class="row mx-0">
        <%- include('../components/label', { id, label }) %>
        <div class="col input-group me-2 px-0">
            <input id="<%= id %>" class="form-control" type="password" name="<%= name %>" <%= options %>>
            <input id="show-password" class="btn-check" type="checkbox" autocomplete="off">
            <label for="show-password" class="btn btn-outline-secondary">Show</label>
        </div>
        <div class="invalid-feedback">
            <div class="d-flex justify-content-end">
                Please enter a password.
            </div>
        </div>
    </div>
</div>