<div class="col-12">
    <div class="row mx-0">
        <%- include('../components/label', { id, label: 'Password' }) %>
        <%- include('../components/input', { id, type: 'password', name, value, options }) %>
        <div class="invalid-feedback">
            <div class="d-flex justify-content-end">
                Please enter a password.
            </div>
        </div>
    </div>
</div>